<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ClazzMapper">
    <!-- int insert();-->
    <insert id="insert">
        insert into t_user
        values (null, "lxh", "123", "21", '男', "123@qq.com")
    </insert>
</mapper>